.calendarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendarHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.dayBox {
    position: relative;
    height: 3rem;
    width: 3rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    box-sizing: border-box;
}

.dayNumber {
    z-index: 1;
}

.selectorWrapper {
    position: absolute;
    top: 65%;
    transform: translateX(-50%);
    z-index: 10;
}