.card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    background-color: pink;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.2);
}