.card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid #e5e7eb;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    min-height: 42rem;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.cardTitle {
    font-size: 2.25rem;
}