.upcomingListWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcomingList {
    max-height: 25rem;
    overflow: auto;
    border: 1px solid black;
    border-radius: 1rem;
}

.upcomingDay {
    box-sizing: border-box;
    display: flex;
    width: 20rem;
    height: 3rem;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.upcomingDay:last-child {
    border-bottom: none;
}

.upcomingCheckbox {
    margin-left: auto;
}