.upcomingList {
    height: 28rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: none;
}

.upcomingList:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
}

.upcomingList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.upcomingList:hover {
    scrollbar-width: thin;
}

.upcomingList:hover::-webkit-scrollbar {
    width: 8px;
}