.viewExpensesOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewExpensesModal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
}

.viewExpensesModalBody {

}

.expenseRow {
    padding: 0.5rem;
    border: 1px solid black;
}

.viewExpensesModalFooter {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}